<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.FeedbackMapper">

    <select id="selectAll" resultType="com.example.entity.Feedback">
        select feedback.*, user.name as userName from `feedback`
        left join user on feedback.user_id = user.id
        <where>
            <if test="title != null"> and feedback.title like concat('%', #{title}, '%')</if>
            <if test="userId != null"> and feedback.user_id = #{userId}</if>
        </where>
        order by feedback.id desc
    </select>

    <delete id="deleteById">
        delete from `feedback`
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.example.entity.Feedback" useGeneratedKeys="true">
        insert into `feedback`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="content != null">content,</if>
            <if test="idea != null">idea,</if>
            <if test="title != null">title,</if>
            <if test="time != null">time,</if>
            <if test="replyContent != null">reply_content,</if>
            <if test="replyTime != null">reply_time,</if>
            <if test="status != null">status,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="content != null">#{content},</if>
            <if test="idea != null">#{idea},</if>
            <if test="title != null">#{title},</if>
            <if test="time != null">#{time},</if>
            <if test="replyContent != null">#{replyContent},</if>
            <if test="replyTime != null">#{replyTime},</if>
            <if test="status != null">#{status},</if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.example.entity.Feedback">
        update `feedback`
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="userId != null">
                user_id = #{userId},
            </if>
            <if test="content != null">
                content = #{content},
            </if>
            <if test="idea != null">
                idea = #{idea},
            </if>
            <if test="title != null">
                title = #{title},
            </if>
            <if test="time != null">
                time = #{time},
            </if>
            <if test="replyContent != null">
                reply_content = #{replyContent},
            </if>
            <if test="replyTime != null">
                reply_time = #{replyTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>